div{
    width: 100px;
    height: 100px;
}
#transform-scale{
    background-color: chartreuse;
    transform: scale(2, 10);
}
#transform-skew{
    margin-top: 200px;
    margin-left: 200px;
    background-color: blueviolet;
    transform: skew(200deg, 10deg);
}
#transform-translate{
    background-color: brown;
    transform: translate(50px, 10px);
}
#transform-rotate{
    margin-top: 200px;
    margin-left: 300px;
    background-color: mediumvioletred;
    transform: rotate(33deg);
}